.chart-3d-bars {
    .value-title text {
        font-size: 28px;
    }

    .legend-title {
        text {
            fill: #000;
            font-size: 17px;
            font-weight: $font-bold;
            text-transform: uppercase;
        }
    }
}
