.chart-countries-by-suicide-attack
{
    .value-title text{
        fill: $red;
        font-size: 28px;
    }
    .legend-title text{
        fill: #333;
        font-weight: normal;
        font-size: 18px;
    }
}