.chart-countries-by-vehicle-attack
{
    .value-title text{
        fill: $red;
        font-size: 24px;
    }
    .legend-title text{
        fill: #fff;
        font-weight: normal;
        font-size: 22px;
    }
}