<div class="chart" ng-animate-children="true">
    <div chart-core class="chart-grid-ranked-30">
        <div ng-repeat="column in columns" ng-class="{'is-loaded': isLoaded}">
            <div ng-repeat="item in column.items" class="clearfix">
                <div class="flag"><span class="flag-{{titleByName(item)}}"
                                        style="background-image: url(/images/charts/flags/med/{{titleByName(item)}}.png)"></span></div>
                <label>{{item.title}}</label>
                <div class="level">
                    <span ng-repeat="level in item.levels">
                        <span ng-class="{halfActive: level.halfActive, active: level.active}">
                            <span ng-if="level.active"></span>
                        </span>
                    </span>
                </div>
                <div class="value">{{item.value}}</div>
            </div>
        </div>
    </div>
</div>
