.chart-foreigners-kidnap-duration-top-5
{
    margin-top: 30px;

    .value-title text{
        font-size: 38px;
    }
    .value-title2 text{
        font-size: 20px;
    }
    .legend-title text{
        font-size: 18px;
    }
}