.chart-grid-ranked-30 {

    & > div {
        float: left;
        width: 42%;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 55px;

        &:last-child {
            border-right: none;
        }

        & > div {
            padding: 0 0;
            line-height: 23px;

            & > * {
                float: left;
                padding: 5px;
                font-size: 16px;
            }

            &:nth-child(odd) {
                background: $gray-light;
            }

            .flag {
                width: 10%;
                padding: 0;

                span {
                    width: 30px;
                    height: 30px;
                    display: block;
                    margin: 1px auto;
                    background: no-repeat center;
                    background-size: 100%;

                    &.flag-afg {
                        background-image: url(../images/charts/flags/med/Afghanistan.png);
                    }

                    &.flag-alg {
                        background-image: url(../images/charts/flags/med/Algeria.png);
                    }

                    &.flag-syr {
                        background-image: url(../images/charts/flags/med/Syria.png);
                    }
                }
            }

            label {
                width: 28%;
                display: block;
                text-align: left;
                padding-right: 3px;
                font-weight: $font-bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .value {
                width: 12%;
                text-align: center;
                border-left: 2px solid $gray;
                padding-left: 1px;
                padding-right: 1px;
            }

            .level {
                width: 50%;
                padding-left: 0;
                padding-right: 0;
                text-align: center;

                > span {
                    margin: 0 4.5px;
                    vertical-align: middle;
                    line-height: 12px;
                    background: $gray;
                    overflow: hidden;
                    width: 8.333%;
                    margin-right: 1.25%;
                    margin-left: 1.25%;

                    > span {
                        border-radius: 0;
                        vertical-align: top;

                        &.halfActive {
                            width: 5px;
                            overflow: hidden;
                            margin-right: 5px;
                        }

                        transition: left .5s ease-out;
                        left: -10px;
                        position: relative;

                        > span {
                            vertical-align: top;
                            background: $colorHigh;
                        }
                    }
                }

                span {
                    width: 10px;
                    height: 10px;
                    border-radius: 8px;
                    display: inline-block;

                    &.active {
                        //left: 0;
                    }
                }
            }
        }
    }

    .is-loaded span.active {
        left: 0;
    }
}
