.chart-countries-kidnap-duration-ransom {
    padding: 0px 0;

    .comparer {
        float: left;
        width: 175px;
        height: 550px;
        border-right: 2px dashed $gray-light;
        & > * {
            margin-top: 40px;
            width: 175px;
            height: 450px;
        }
        [chart-body]{
            height: 300px;
        }
        [chart-icon]{
            margin: 0 auto;
            width: 80px;
            height: 80px;
        }
        h4{
            margin-top: 8px;
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            color: $red;
        }
    }

    .others {
        width: 950px;
        float: left;

        .duration{

        }
        .sep {
            margin-top: 10px;
            border-top: 2px dashed $gray-light;
        }

        .ransom {
            & > * {
                float: left;
                width: 10%;
                height: 70px;
                line-height: 70px;
            }
                height: 70px;
        }

        .graphs {
            height: 225px;
        }
    }

    .value-title text {
        font-size: 24px;
    }
    .value-title2 text {
        font-size: 14px;
    }
    .chart-titles text {
        font-size: 13px;
    }
}
