.chart-countries-by-vehicle-attack
{
    .value-title text{
        fill: $dark;
        font-size: 30px;
        font-weight: normal;
    }
    .legend-title text{
        //fill: #fff;
        font-weight: 700;
        font-size: 22px;
        font-weight: normal;
    }
}