<div class="chart-v2">
    <div chart-core class="chart-countries-unrest-top-5">
        <div class="categories">
            <label style="background: {{ getColor(0) }}">All</label>
            <label style="background: {{ getColor($index) }}" ng-repeat="c in categories">{{c.title}}</label>
        </div>
        <div chart-object-name="{{d.name}}" ng-repeat="d in columns">
            <div chart-body></div>
            <div class="axis"></div>
            <div class="country"></div>
            <h4>{{d.title}}</h4>
        </div>
    </div>
</div>

