.chart-countries-kidnap-duration-ransom-grid {
    padding-top: 15px;

    & > * {
        height: 180px;
        border-bottom: 2px dashed $gray;

        &:last-child {
            border-bottom: none;
        }

        & > * {
            height: 180px;
            width: 9.091%;
            float: left;
            border-right: 2px dashed $gray;
            text-align: center;

            &:last-child {
            }
        }

        h4 {
            font-size: 32px;
            font-weight: $font-bold;
            margin-top: 60px;
        }

        h5 {
            font-size: 14px;
            margin: 20px auto 12px;
        }

        p {
            font-size: 22px;
            text-transform: uppercase;
            margin-top: 4px;
        }

        .icon > * {
            width: 90%;
            height: 120px;
            margin: 20px auto 0;
        }
        .funds>*{
            margin-top: 25px;
        }

        .country {
            width: 80%;
            height: 80px;
            margin: 12px auto;
        }

        .flag {
            width: 40px;
            height: 40px;
            display: block;
            margin: 1px auto;
            background: no-repeat center;
            background-size: 100%;
        }
    }
}
