<div class="chart-v2">
    <div ng-if="!!data" chart-core class="chart-countries-by-kidnap-by-gender">
        <div class="left-side">
<!--            <div class="left-bracket"></div>-->
        </div>
        <div class="chart-body" chart-body>
            
        </div>
        <div class="right-side">
<!--            <div class="left-bracket"></div>-->
            <div class="data">
                <h3><label class="male">{{totalMales}}</label><span class="sep"></span><label class="female">{{totalFemales}}</label>
                </h3>
                <h4>Events</h4>
                <div class="icons">
                    <div chart-icon icon-name="signs.male" icon-color="#bbd6e4"></div>
                    <div chart-icon icon-name="signs.female" icon-color="#b02819"></div>
                </div>
                <div class="legend">
                    <div class="male"></div>
                    <div class="female"></div>
                </div>
            </div>
<!--            <div class="right-bracket"></div>-->
        </div>
        
    </div>
    <div ng-if="!!data" class="chart-period">
        <div class="progress-line"></div>
        <label></label>
        <span class="value">{{$parent.$parent.vm.renderedYears | years}}</span>
        <label></label>
    </div>
</div>
