.chart-threat-types {
    .value-title text {
        //fill: $red;
        font-size: 18px;
    }

    .legend-title text {
        font-weight: normal;
        font-size: 14px;
        text-transform: capitalize;
    }
}
