$content-size-multiplier: 1.5;
$content-width: 750px * $content-size-multiplier;
$content-height: 420px * $content-size-multiplier;

$font-family-default: 'Exo', sans-serif;
$font-bold: 700;
$font-size: 12px;


/* charts */
$gray-light: #f4f4f4;
$gray: #dcdcdc;
$red: #e1482c;
$dark: #333;

$colorVeryHigh: #b02819;
$colorHigh: #f13e2b;
$colorMediumHigh: #dc6355;
$colorMedium: #959595;
$colorLow: #387390;
$colorVeryLow: #bbd6e4;
